<div class="content-column">
    <div class="grid">
        <div class="row">
          {{ range .Data.Pages }}
              <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 masonry-item">
                  <div class="box-masonry">
                      <a href="{{ .Permalink }}" title="" class="box-masonry-image with-hover-overlay">
                          <img src="{{ with .File }}{{ .ContentBaseName }}{{ end }}/images/thumbnail.jpg" alt="" class="img-responsive"> </a>
                      </a>
                      <div class="box-masonry-hover-text-header">
                          <h4><a href="{{ .Permalink }}">{{ .Title }}</a></h4>
                          <div class="box-masonry-description">
                            <p>
                                {{ if .Description }}
                                  {{ .Description }}
                                {{ else }}
                                  {{ .Summary }}
                                {{ end }}
                            </p>
                          </div>
                      </div>
                  </div>
              </div>
          {{ end }}
        </div>
    </div>
</div>
